body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  margin-left: 20px;
}

.hero {
  background-image: url('../img/hero.jpg');
  height: 60vh;
}

.teasers {
  width: 80vw;
}

.tease {
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: left;
}

.teastitle {
  border-bottom: 1px solid rgb(235, 235, 235);
}
